:where(:root) {
  --theme-grid-row-gap: 1rem;
  --theme-grid-column-gap: 1rem;
  --theme-grid-column-gap-sm: 0.5rem;
  --theme-grid-row-gap-desktop: 2rem;
  --theme-grid-column-gap-desktop: 1.5rem;
  --theme-grid-column-gap-desktop-large: 2rem;
}

.theme-grid {
  --grid-local-row-gap: var(
    --grid-gap-mobile-override,
    var(--grid-gap-override, var(--theme-grid-row-gap))
  );
  --grid-local-column-gap: var(
    --grid-gap-mobile-override,
    var(--grid-gap-override, var(--theme-grid-column-gap-sm))
  );
  display: grid;
  grid-template-columns: repeat(var(--grid-cols-sm, 1), minmax(0, 1fr));
  row-gap: var(--grid-local-row-gap);
  column-gap: var(--grid-local-column-gap);
}

.theme-grid > [data-grid] {
  grid-column: span var(--grid-span-sm, 1);
  min-width: 0;
}

@media (min-width: 737px) {
  .theme-grid {
    --grid-local-row-gap: var(--grid-gap-override, var(--theme-grid-row-gap));
    --grid-local-column-gap: var(--grid-gap-override, var(--theme-grid-column-gap));
    grid-template-columns: repeat(var(--grid-cols, 1), minmax(0, 1fr));
  }

  .theme-grid > [data-grid] {
    grid-column: span var(--grid-span, 1);
  }
}

@media (min-width: 1025px) {
  .theme-grid {
    --grid-local-row-gap: var(
      --grid-gap-override,
      var(--theme-grid-row-gap-desktop)
    );
    --grid-local-column-gap: var(
      --grid-gap-override,
      var(--theme-grid-column-gap-desktop)
    );
  }
}

@media (min-width: 1280px) {
  .theme-grid {
    --grid-local-column-gap: var(
      --grid-gap-override,
      var(--theme-grid-column-gap-desktop-large)
    );
    grid-template-columns: repeat(var(--grid-cols-lg, var(--grid-cols, 1)), minmax(0, 1fr));
  }

  .theme-grid > [data-grid] {
    grid-column: span var(--grid-span-lg, var(--grid-span, 1));
  }
}

.theme-grid--justify > .container-component,
.theme-grid--justify > .container-component > .wrapper {
  display: flex;
}

.theme-grid--justify > .container-component > .inner,
.theme-grid--justify > .container-component > .wrapper > .inner {
  width: 100%;
}

.theme-grid > .container-component {
  margin: 0;
}

.theme-grid + .theme-grid {
  margin-top: var(--grid-local-row-gap);
}

.theme-grid .image-component > .frame {
  max-width: 100%;
}
