:where(:root) {
  --theme-card-padding: 2rem;
  --theme-card-padding-mobile: var(--theme-card-padding);
  --theme-card-border-radius: 0;
}

.theme-card-item {
  padding: var(--theme-card-padding);
  border-radius: var(--theme-card-border-radius);
  height: 100%;
  box-sizing: border-box;
}

[data-cards-initialized="true"] .inner {
  align-items: stretch !important;
}

@media screen and (max-width: 736px) {
  .theme-card-item {
    padding: var(--theme-card-padding-mobile);
  }
}
